@{
    ViewBag.Title = "搅拌站";
    Layout = "~/Views/Shared/_tableLayout.cshtml";
}
@section CSS{
    <style>
        
        .layui-layer-content {
            position: absolute !important;
            left: 0px !important;
        }

        .layui-layer-tabmain {
            padding: 0px;
        }

        iframe {
            width: 900px;
            height: 400px;
        }
        .form-group {
            margin-right:30px;
            margin-bottom:15px;
            
        }
            .form-group label {
                margin-right:10px;
            }
    </style>

}
@section JS{
    <script src="~/Assets/H+4.9/js/plugins/layer/laydate/laydate.js"></script>
    <script src="~/Scripts/MyTool.js"></script>
    <script src="~/Scripts/MixingPlant.js?v=20181124"></script>
}
@using DbModel
@{
    Tb_Login user = (Tb_Login)HttpContext.Current.Session["TCMIS_User"];
}

<div class="wrapper wrapper-content  animated fadeInRight" style="padding-bottom:0px; padding:0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox " style="margin-bottom:0px;">
                <div class="ibox-title">
                    <h5>HHHHHHHHH</h5>
                </div>



                <div class="ibox-content" style="padding-bottom:10px;">

                    <form class="form-inline" id="searchForm">
                        <div class="form-group">
                            <label for="customer">施工单位：</label>
                            <input type="text" class="form-control" id="customer" name="customer">
                        </div>
                        <div class="form-group">
                            <label for="projectName">工程名称：</label>
                            <input type="email" class="form-control" id="projectName"  name="projectName">
                        </div>
                        <div class="form-group">
                            <label for="consPos">施工部位：</label>
                            <input type="email" class="form-control" id="consPos" name="consPos">
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <label for="startTime">搅拌开始时间：</label>
                            <input readonly class="form-control layer-date" placeholder="起始" id="startTime" name="startTime">
                            <label class="laydate-icon inline demoicon" style="vertical-align:top;" 
                                onclick="laydate({elem: '#startTime',istime: true,format: 'YYYY-MM-DD hh:mm:ss'});"></label>

                        </div>

                        <div class="form-group">
                            <input readonly class="form-control layer-date" placeholder="结束"  style="margin-left:30px;" id="endTime" name="endTime">
                            <label class="laydate-icon inline demoicon" style="vertical-align:top;" 
                                onclick="laydate({elem: '#endTime',istime: true,format: 'YYYY-MM-DD hh:mm:ss'});"></label>

                        </div>
                        <div class="form-group">
                             <button type="button" id="clearBtn" class="btn btn-w-m btn-info"  style="margin-left: 50px;">清空</button>
                            <button id="searchBtn" type="button" class="btn btn-w-m btn-success" style="margin-left: 10px;">搜索</button>
                            @if (user != null)
                            {
                                if (user.UserRight == 1)
                                {
                                    @:<button id="setBtn" type="button" class="btn btn-w-m btn-primary" style="margin-left: 10px;">误差设置</button>
                                }
                            }
                            else
                            {
                                @:<button id="setBtn" type="button" class="btn btn-w-m btn-primary" style="margin-left: 10px;">误差设置</button>
                            }
                            
                        </div>

                    </form>
                    <div class="jqGrid_wrapper">
                        <div style="font-weight:600;text-align:right;">双击每条记录显示误差图和原材料用表</div>
                        <table id="table_MixingPlant"></table>
                        <div id="pager_MixingPlant"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
